<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">   

<web-app>
     <servlet>
        <servlet-name>ControllerServlet</servlet-name>
        <servlet-class>edu.asupoly.cst425.lab4.controller.ControllerServlet</servlet-class>
        <init-param>
    		<param-name>databaseURL</param-name>
    		<param-value>jdbc:mysql://localhost:3306/cst425lab4</param-value>
  		</init-param>
  		<load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>ControllerServlet</servlet-name>
        <url-pattern>/controller/*</url-pattern>
    </servlet-mapping>
</web-app>
